.transactionHistory {
    margin-right: auto;
    margin-left: auto;
  background-color: #f8f8f8;
  border-collapse: separate;
  border-spacing: 0 8px;
  font-family: 'Roboto', sans-serif;
  width: 500px;
}

.transactionHistory th, .transactionHistory td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.transactionHistory th {
  background-color: #fafafa;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
}

.transactionHistory tr:hover {
  background-color: #f0f0f0;
}
