.profile {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  border: 2px solid rgb(199, 200, 200);;
}
.description {
  margin-top: 10px;
  text-align: center;
}
.avatar {
  height: 140px;
  width: 140px;
}
.name {
    font-weight: 700;
  margin-bottom: 5px;
}
.tag {
  margin-top: 0px;
  margin-bottom: 5px;
}
.location {
  margin-top: 0px;
  margin-bottom: 5px;
}
.stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
  padding: 20px;
  margin: 0;
  list-style-type: none;
  gap: 20px;
  background-color: rgba(199, 200, 200, 0.568);
}
.label {
  display: flex;
  text-align: center;
}
.quantity {
    font-weight: 500;
}
